@charset "UTF-8";

/* 本文の設定 */

:root {
  /* writing-mode: vertical-rl; */
  font-family: serif;
  /* font-size: 10pt; */
  line-height: 1.75;
  text-align: justify;
  text-spacing: space-first;
  hanging-punctuation: allow-end;
}

p {
  margin: 0;
}

/* タイトルと著者名 */

h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.author {
  font-family: sans-serif;
  text-align: end;
  font-size: 1.2em;
}

/* 節見出し */

h2 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1rlh;
  margin-block-start: 1rlh;
  margin-block-end: 1rlh;
}

/* 引用ブロック */

blockquote {
  margin-block: 1lh;
  margin-inline: 2em 0;
}

/* リスト */

ul,
ol {
  margin-block: 1lh;
  margin-inline: 0;
  padding-inline-start: 2em;
}

/* ぶら下げ */

.burasage {
  padding-inline-start: 1em;
  text-indent: -1em;
}

/* 傍点 */

.sesame_dot {
  text-emphasis: filled sesame;
  font-style: normal;
}

/* 傍線 */

.underline_solid {
  text-decoration: underline;
  font-style: normal;
}

/* 漢文の返点と送り仮名 */

.kaeriten {
  vertical-align: baseline;
  font-size: 0.5em;
  position: relative;
  inset-block-start: 0.5em;
}

.okurigana {
  vertical-align: baseline;
  font-size: 0.5em;
  position: relative;
  inset-block-start: -0.5em;
}

/* 縦中横 */

.tcy {
  text-combine-upright: all;
}

/* 縦書きで文字を正立 */

.upright {
  text-orientation: upright;
}

/* 図版 */

figure {
  writing-mode: horizontal-tb;
  float: right;
  clear: right;
  margin-inline: 1em 0;
  margin-block: 0 1em;
  max-width: 50vw;
}

h2 {
  clear: right;
}

figure img {
  display: block;
  margin: auto;
  max-width: 50vw;
}

figcaption {
  font-family: sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
  text-wrap: balance;
}

@supports (float-reference: page) { /* ページフローをサポートしている場合 */
  figure {
    float-reference: page;
    float: top;
    clear: all;
    margin-inline: 0;
    width: 100vw;
    max-width: 100vw;
  }

  h2 {
    clear: all;
  }

  figure img {
    display: block;
    margin: auto;
    max-width: 100vw;
    max-height: 60vh;
  }
}

/* 注 */

.note {
  font-family: serif;
  font-weight: normal;
  font-size: 0.85rem;
  line-height: 1.5;
}

.note::before {
  content: "［＃";
}

.note::after {
  content: "］";
}

@supports (float: footnote) { /* 脚注をサポートしている場合 */
  .note {
    float: footnote;
  }

  .note::before {
    content: none;
  }

  .note::after {
    content: none;
  }

  .note::footnote-call {
    content: counter(footnote);
    font-size: 75%;
    line-height: 1;
    vertical-align: super;
  }

  .note::footnote-marker {
    content: counter(footnote);
    font-size: 80%;
    line-height: 1;
    vertical-align: super;
  }
}

/* 目次 */

.toc {
  break-before: page;
  break-after: page;
}

.toc li a:after {
  content: leader("…") target-counter(attr(href), page);
  text-combine-upright: all;
}

.toc li a {
  text-decoration: none;
}

/* あとがき */

.afterword {
  break-before: page;
}

/* 奥付 */

.colophon {
  break-before: page;
}

/* ページの設定 */

@page {
  size: A5;
  margin: 20mm;
}

@page :left { /* 左ページ */
  @top-left {
    content: string(title); /* 柱：タイトル */
    writing-mode: horizontal-tb;
    font-size: 0.8rem;
  }

  @bottom-left {
    content: counter(page); /* ぺージ番号 */
    writing-mode: horizontal-tb;
    font-size: 0.8rem;
  }
}

@page :right { /* 右ページ */
  @top-right {
    content: string(section-title); /* 柱：節タイトル */
    writing-mode: horizontal-tb;
    font-size: 0.8rem;
  }

  @bottom-right {
    content: counter(page); /* ぺージ番号 */
    writing-mode: horizontal-tb;
    font-size: 0.8rem;
  }
}

@page :first {  /* 先頭ページ */
  @top-left {
    content: none;
  }

  @top-right {
    content: none;
  }

  @bottom-left {
    content: none;
  }

  @bottom-right {
    content: none;
  }
}

@page :blank { /* 空白ページ */
  @top-left {
    content: none;
  }

  @top-right {
    content: none;
  }

  @bottom-left {
    content: none;
  }

  @bottom-right {
    content: none;
  }
}

/* 柱の文字列を見出しから取得 */

h1 {
  string-set: title content();
}

h2 {
  string-set: section-title content();
}
